<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="SISPRO2" value="https://pkgs.dev.azure.com/MinSaludColombia/_packaging/sispro_nugets/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <SISPRO2>
      <add key="Username" value="anyValue" />
      <add key="ClearTextPassword" value="fzuhdouq2grwtm2h7v2yf6iba7w56j5cpwrz3rft4iu2s5kz2kma" />
    </SISPRO2>
  </packageSourceCredentials>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
</configuration>